.social-links {
    display: flex;
    justify-content: center;
}

.link {
    margin: 0 2%; /* Add space on the left and right sides of each icon */
    width: calc(30px + 4vw); /* Set the width for the icons with additional responsive width */
}

.link svg {
    width: 100%; /* Ensure the icon fills the container */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .link {
        margin: 0 1%; /* Reduce space between icons for smaller screens */
        width: calc(20px + 3vw); /* Adjust width for smaller screens */
    }
}