.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-div {
    padding: 10px;
    display: flex;
    width: 50px;
    height: 50px;
}

.link {
    display: flex;
}

.icon {
    flex: 1;
    max-width: 100%;
}